@import "src/style/typography";

.head {
  width: 100%;
  height: 642px;

  padding-bottom: 32px;

  position: relative;

  display: flex;
  align-items: flex-end;

  &__shadow {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 10;

    background-color: rgba(0, 0, 0, 0.64);
  }

  &__background {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    object-fit: cover;
  }

  &__content {
    width: 100%;

    flex-flow: column wrap;

    display: flex;
    gap: 160px;

    z-index: 100;

    .information {
      display: flex;
      flex-direction: column;
      gap: 32px;

      &__title {
        padding-top: 10px;

        display: flex;
        align-items: flex-end;

        gap: 20px;

        & p {
          @include h1;

          color: #fff;
        }

        .arrow {
          width: fit-content;

          padding: 12px;

          cursor: pointer;

          border: 1px solid rgba(140, 148, 168, 0.6);

          border-radius: 100px;

          transition: all .3s ease;

          &:hover {
            border: 1px solid rgba(255, 255, 255, 0.2);

            background-color: rgba(255, 255, 255, 0.2);
          }
        }
      }

      &__subTitle {
        @include b1;

        color: #A6AFC5FF;
      }

      & a {
        width: fit-content;

        padding: 16px 24px;

        display: flex;
        justify-content: center;

        border-radius: 40px;

        color: #fff;

        background-color: #38B524FF;

        @include b5;
      }
    }

    .tags {
      &__list {
        width: fit-content;

        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .tag {
          padding: 8px 12px;

          cursor: pointer;

          border: 1px solid rgba(140, 148, 168, 0.32);

          border-radius: 16px;

          transition: all .3s ease;

          & p {
            @include b9;

            color: #CCD4E8FF;
          }

          &:hover {
            border: 1px solid rgba(255, 255, 255, 0.2);

            background-color: rgba(255, 255, 255, 0.2);
          }
        }
      }
    }
  }
}
