@import "src/style/typography";

.card {
  position: relative;

  cursor: pointer;

  border-radius: 16px;

  overflow: hidden;

  background-color: #fff;

  &:hover {
    .card__img {
      & img {
        transform: scale(1.05);
      }
    }
  }

  &__status {
    position: absolute;
    top: 24px;
    left: 24px;

    display: flex;
    gap: 8px;

    z-index: 100;

    .popular,
    .finishing {
      padding: 8px 12px;

      display: flex;
      gap: 5px;

      border: 1px solid rgb(232, 69, 34);
      border-radius: 16px;

      backdrop-filter: blur(12px);

      background: rgba(232, 69, 34, 0.1);

      & p {
        @include b10;

        color: #fff;
      }
    }

    .finishing {
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 16px;

      backdrop-filter: blur(12px);

      background: rgba(255, 255, 255, 0.1);
    }

  }

  &__img {
    height: 400px;

    position: relative;

    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;

      border-radius: 16px 16px 0 0;

      transition: all .3s ease;

      object-fit: cover;
    }

    &::after {
      width: 100%;

      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      content: "";

      background: linear-gradient(0.00deg, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.4) 100%);
    }
  }

  &__info {
    padding: 16px 24px;

    display: flex;
    justify-content: space-between;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .name {
      max-width: 230px;

      @include b3;

      text-overflow: ellipsis;
      white-space: nowrap;

      overflow: hidden;

      color: #282d3c;
    }

    .price {
      max-width: 120px;

      @include b5;

      text-overflow: ellipsis;
      white-space: nowrap;

      overflow: hidden;

      color: #282d3c;
    }

    .size {
      @include b9;

      color: #8c94a8;
    }

    .link {
      margin-left: auto;

      position: relative;

      @include b8;

      color: #38b524;

      &::after {
        width: 0;
        height: 1px;

        position: absolute;
        left: 50%;
        bottom: -2px;

        display: block;

        content: "";

        transform: translateX(-50%);

        transition: 0.3s;

        background: #38b524;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
