@import "src/style/typography";

.services {
  padding: 32px 0 64px;

  display: flex;
  flex-direction: column;
  gap: 32px;

  &__list {
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    border-radius: 16px;

    background-color: #fff;

    .item {
      height: 480px;

      padding: 24px;

      position: relative;

      display: flex;
      align-items: flex-end;

      cursor: pointer;

      border-radius: 12px;

      overflow: hidden;

      &:hover {
        .item__background {
          transform: scale(1.1);
        }
      }

      &__background {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        transition: all 1s ease;

        object-fit: cover;
      }

      &__info {
        width: fit-content;

        padding: 12px;

        display: flex;
        align-items: center;
        gap: 16px;

        border-radius: 90px;

        backdrop-filter: blur(12px);

        background-color: rgba(40, 45, 60, 0.5);

        &:hover {
          .button {
            background-color: #38B524FF;
          }
        }

        .ico {
          width: 55px;
          height: 55px;

          display: flex;
          align-items: center;
          justify-content: center;

          border-radius: 32px;

          box-shadow: inset 0 0 13px 0 rgba(0, 0, 0, 0.25);

          & p {
            font-size: 20px;
          }
        }

        .data {
          display: flex;
          flex-direction: column;
          gap: 8px;

          &__title {
            @include b3;

            color: #fff;
          }

          &__price {
            @include b6;

            color: #8c94a8;
          }
        }

        .button {
          margin-left: 12px;
          padding: 12px;

          border: 1px solid rgb(56, 181, 36);
          border-radius: 100px;

          transition: all .3s ease;

          & img {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
}
