@import "src/style/typography";

.header {
  max-width: 1400px;
  height: 76px;

  margin: 12px auto 0;
  padding: 12px;

  position: fixed;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid rgba(140, 148, 168, 0.32);
  border-radius: 20px;

  transition: all .3s ease;

  z-index: 1000;

  backdrop-filter: blur(12px);

  background-color: rgba(40, 45, 60, 0.08);

  &Dark {
    background-color: rgba(40, 45, 60, 0.8);
  }

  .logo {
    width: fit-content;

    display: flex;
    align-items: center;
    gap: 12px;

    &__img {
      width: 52px;
      height: 52px;

      padding: 10px;

      border: 1px solid rgba(140, 148, 168, 0.32);
      border-radius: 16px;
    }

    &__title {
      @include b4;

      color: #fff;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 36px;

    &__item {
      position: relative;

      @include b6;

      color: #fff;

      &::after {
        width: 0;
        height: 1px;

        position: absolute;
        left: 50%;
        bottom: 0;

        display: block;

        content: "";

        transform: translateX(-50%);

        transition: 0.3s;

        background: #fff;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .actions {
    width: fit-content;

    display: flex;
    align-items: center;
    gap: 8px;

    &__block {
      padding: 14px;

      display: flex;
      align-items: center;
      gap: 8px;

      @include b6;

      cursor: pointer;

      border: 1px solid rgba(140, 148, 168, 0.32);
      border-radius: 16px;

      transition: all 0.3s ease;

      color: #fff;

      & img {
        transition: all 0.3s ease;
      }

      &:hover {
        border: 1px solid rgba(255, 255, 255, 0.2);

        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
