@import "reset";
@import "global";
@import "font";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  height: 100%;

  &::-webkit-scrollbar {
    width: 5px;

    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;

    background-color: #282d3c;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
