@import "src/style/typography";

.footer {
  width: 100%;
  max-width: 1440px;

  flex: 0 0 auto;

  margin: 0 auto;
  padding: 64px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: fit-content;

    display: flex;
    align-items: center;
    gap: 12px;

    &__img {
      width: 52px;
      height: 52px;

      padding: 10px;

      border: 1px solid rgba(140, 148, 168, 0.32);
      border-radius: 16px;

      background-color: rgb(40, 45, 60);
    }

    &__title {
      @include b4;

      color: #282D3C;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 36px;

    &__item {
      position: relative;

      @include b6;

      color: #282D3C;

      &::after {
        width: 0;
        height: 1px;

        position: absolute;
        left: 50%;
        bottom: 0;

        display: block;

        content: "";

        transform: translateX(-50%);

        transition: 0.3s;

        background: #282D3C;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .actions {
    width: fit-content;

    display: flex;
    align-items: center;
    gap: 8px;

    &__block {
      padding: 14px;

      display: flex;
      align-items: center;
      gap: 8px;

      @include b6;

      cursor: pointer;

      border: 1px solid rgba(140, 148, 168, 0.32);
      border-radius: 16px;

      transition: all 0.3s ease;

      color: #282D3C;

      & img {
        transition: all 0.3s ease;
      }

      &:last-child {
        & img {
          filter: brightness(0) saturate(100%) invert(16%) sepia(10%) saturate(1480%) hue-rotate(188deg) brightness(92%) contrast(92%);
        }
      }
    }
  }
}
